<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright (C) 2015 Baa. All rights reserved.
See LICENSE.txt for this sample’s licensing information
-->
<document>
  <head>
    <style>
      .lightBackgroundColor {
      background-color: rgb(239, 236, 230);
      }
      .darkBackgroundColor {
      background-color: rgb(51, 51, 51);
      }
    </style>
  </head>
  <listTemplate theme="light" class="lightBackgroundColor">
    <list>

      <header>
        <title>{{TEXT(Settings)}}</title>
      </header>

      <section>
        <header>
          <title>{{TEXT(Plex Media Environment)}}</title>
        </header>

        <listItemLockup
          id="Discover"
          onSelect="discover(event);"
          onSuccess=""
          >
          <title>{{TEXT(Discover)}}</title>
          <decorationLabel>{{TEXT(online:)}} {{PMSCNT(all)}}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>

{{IF(!{{USRVAL(adminname)}})}} {{
        <listItemLockup
          id="MyPlexSignInOut"
          onSelect="myPlex.signIn(event);"
          onSuccess=""
          onError="Presenter.load('MyPlex_SignInFailed','','');"
          >
          <title>{{TEXT(Sign In)}}</title>
          <decorationLabel />
          <decorationImage src="resource://chevron" />
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>
}}
{{IF({{USRVAL(adminname)}})}} {{
        <listItemLockup
          id="MyPlexSignInOut"
          onSelect="myPlex.signOut(event);"
          >
          <title>{{TEXT(Sign Out)}}</title>
          <decorationLabel>{{USRVAL(adminname)}}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>
}}

        <listItemLockup
          id="MyPlexHomeUser"
          onSelect="Presenter.load('MyPlex_HomeUsers', '', '');"
          >
          <row>
            <title>{{TEXT(Switch Home User)}}</title>
            <decorationLabel>{{USRVAL(name)}}</decorationLabel>
            <decorationImage src="resource://chevron" />
          </row>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>
      </section>

      <section>
        <header>
          <title>{{TEXT(Appearance)}}</title>
        </header>

        <listItemLockup
          id="theme"
          onSelect="Settings.toggle(event)"
          >
          <title>{{TEXT(Theme)}}</title>
          <decorationLabel>{{SETTING(theme)}}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>
        <listItemLockup
          id="themeExternalOverride"
          onSelect="Settings.toggle(event)"
          >
          <title>{{TEXT(External Override)}}</title>
          <decorationLabel>{{SETTING(themeExternalOverride)}}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>
      </section>

      <section>
        <header>
          <title>{{TEXT(Media Replay)}}</title>
        </header>

        <listItemLockup
          id="transcoderAction"
          onSelect="Settings.toggle(event)"
          >
          <title>{{TEXT(Transcoder Action)}}</title>
          <decorationLabel>{{SETTING(transcoderAction)}}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>
        <listItemLockup
          id="transcoderQuality"
          onSelect="Settings.toggle(event)"
          >
          <title>{{TEXT(Transcode Quality)}}</title>
          <decorationLabel>{{SETTING(transcoderQuality)}}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>
        <listItemLockup
          id="remoteBitrate"
          onSelect="Settings.toggle(event)"
          >
          <title>{{TEXT(Remote Bitrate)}}</title>
          <decorationLabel>{{SETTING(remoteBitrate)}}</decorationLabel>
          <relatedContent>
            <lockup>
              <img src="{{RESOURCEURL(TVMLTemplates/Revenant/images:icon:png)}}" />
              <title style="text-align: center; color: #ff8000"><![CDATA[PlexConnect.app]]></title>
              <subtitle style="text-align: center;"> </subtitle>
              <subtitle style="text-align: center;">Version: 1.0 Theme "Revenant"</subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Coded by: iBaa]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Designed by: CyberGhost84]]></subtitle>
           		<subtitle style="text-align: center;"><![CDATA[Forum: http://forums.plex.tv]]></subtitle>
              <subtitle style="text-align: center;"><![CDATA[HomePage: http://plexconnect.info]]></subtitle>
            </lockup>
            </relatedContent>
        </listItemLockup>

      </section>

    </list>
  </listTemplate>
</document>
